<!DOCTYPE html>
<html>
  <head>
    <!--
      Usage: <meta metal:use-macro="base_template.macros['viewport']" />
    -->
    <meta name="viewport" content="width=device-width,
                                   initial-scale=1.0,maximum-scale=1.0"
          metal:define-macro="viewport"/>

    <!--
      Usage: <meta metal:use-macro="base_template.macros['seo']" />
    -->
    <metal:seo define-macro="seo">
    <meta property="og:title" content="Työmuistipeli.fi" />
    <meta property="og:type" content="game" />
    <meta property="og:url" content="http://työmuistipeli.fi/" />
    <meta property="og:image" content="${base_url}/img/kansikuva.jpg" />
    <meta property="og:site_name" content="Lassen ja Lupun työmuistipeli" />
    <meta property="og:description" content="Lupun ja Lassen työmuistipeli on hauska tapa treenata muistia.
                                             Hyvällä työmuistilla on tutkittu yhteys koulumenestykseen!" />
    <meta property="description" content="Lupun ja Lassen työmuistipeli on hauska tapa treenata muistia.
                                          Hyvällä työmuistilla on tutkittu yhteys koulumenestykseen!" />
    </metal:seo>
  </head>

  <body>
  </body>
</html>
