<!DOCTYPE html>
<html xmlns:metal="http://xml.zope.org/namespaces/metal">
<head>
    <meta charset="utf-8" />
    <meta name="base" content="${base_url}" />
    <meta name="context" content="${current_url}" />

    <meta name="last_pass" content="${last_pass}" />

    <title>Hyvin pelattu</title>

    <link rel="icon" type="image/ico" href="${base_url}/favicon.ico"/>
    <link rel="author" href="${base_url}/humans.txt" />
    <link rel="" href="" metal:use-macro="base_template.macros['styles']" />
    <link rel="stylesheet" href="${base_url}/css/mainpage.css" />
    <link rel="stylesheet" href="${base_url}/css/game_over.css" />

    <script metal:use-macro="base_template.macros['scripts']"></script>
    <script src="${base_url}/js/game_over.js"></script>
</head>
<body>
<div id="game">
    <div id="edge">
        <div id="dialog">
            <div id="starBox">
                <img class="star" src="${base_url}/img/star.png"
                     tal:repeat="idx python:range(stars)" />
            </div>
            <br tal:condition="python:stars==1" />
            <a href="${base_url}/${game}" id="nextGame" class="gameBtn"
               tal:condition="game|nothing">
                <div class="center">
                    Jatka
                </div>
            </a>
            <a href="${base_url}/" target="_top" id="nextGame" class="gameBtn"
               tal:condition="not:game|nothing">
                <div class="center">
                    Lopeta
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
