<!DOCTYPE html>
<html xmlns:metal="http://xml.zope.org/namespaces/metal">
<head>
    <meta charset="utf-8" />
    <meta name="base" content="${base_url}" />
    <meta name="context" content="${current_url}" />

    <title>Työmuistipeli</title>

    <link rel="icon" type="image/ico" href="${base_url}/favicon.ico"/>
    <link rel="author" href="${base_url}/humans.txt" />
    <link rel="" href="" metal:use-macro="base_template.macros['styles']" />

    <script metal:use-macro="base_template.macros['scripts']"></script>
    <script src="${base_url}/js/game_iframe.js"></script>
</head>
<body>
  <div id="fullscreen-windows" class="hidden">
      <h1>Peli vaatii suuremman ikkunan</h1>
      <p>Paina F11-näppäintä suurentaaksesi ikkunan kokoruututilaan.</p>
      <p style="text-align: right;">
          <a class="pure-button pure-button-primary" href="#">Jatka tästä välittämättä</a>
      </p>
  </div>
  <div id="touchstart" class="hidden">
      <img src="${base_url}/img/iPadbutton/brb001.png" alt="Aloita peli"
           id="big-red-button" style="cursor: pointer;" />
  </div>
</body>
</html>
