<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="${base_url}/static/reset.css" />
    <link rel="stylesheet" href="${base_url}/static/style.css" />
    <link href="http://fonts.googleapis.com/css?family=Belgrano|Knewave|Finger+Paint|Concert+One" rel="stylesheet" type="text/css">

    <script src="${base_url}/static/lib/jquery.min.js"></script>
    <script type="text/javascript" src="${base_url}/static/root.js"></script>
  </head>
  <body>
    <div id="game">
      <div id="rootHeader">
        <h1>Työmuistipeli</h1>
      </div>

      <div id="majorRow">
	<div class="center">
          <a id="join" class="gameBtn btn-0" href="#">
            <div class="middle">Aapo</div>
          </a>
          <a id="join" class="gameBtn btn-1" href="#">
            <div class="middle">Eeti</div>
          </a>
          <a id="join" class="gameBtn btn-2" href="#">
            <div class="middle">Liity pelaajaksi</div>
          </a>
        </div>
      </div>

      <div id="minorRow">
	<div class="center">
          <a id="try" class="gameBtn btn-3" href="#">
            <div class="middle">Kokeile peliä</div>
          </a>
        </div>
      </div>

    </div>
  </body>
</html>
