<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="context" content="${current_url}" />
    <meta metal:use-macro="base_template.macros['viewport']" />

    <title>Työmuistipeli</title>

    <link rel="author" href="${base_url}/humans.txt" />
    <link rel="stylesheet" href="${base_url}/css/reset.css" />
    <link rel="stylesheet" href="${base_url}/css/common.css" />
    <link rel="stylesheet" href="${base_url}/css/mainpage.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Belgrano|Knewave|Finger+Paint|Concert+One" />

    <script src="${base_url}/lib/jquery.min.js"></script>
    <script src="${base_url}/lib/jquery.snd.js"></script>
    <script src="${base_url}/lib/jquery.cookie.js"></script>
    <script src="${base_url}/js/game.js"></script>
    <script type="text/javascript" src="${base_url}/js/mainpage.js"></script>
  </head>

  <body>
    <div id="game">

      <!-- AddThis Button BEGIN -->
      <div id="addthis" class="addthis_toolbox addthis_default_style addthis_32x32_style">
	<a class="addthis_button_preferred_1" ></a>
	<a class="addthis_counter addthis_bubble_style"></a>
      </div>

      <script type="text/javascript">
	var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50cdc10e0038ed98"></script>
      <!-- AddThis Button END -->

      <div id="rootHeader">
        <h1>Työmuistipeli</h1>
      </div>

      <div id="joinView" class="center" style="display:none;">
        <form id="joinData" action="${base_url}/liity" method="POST">
          <label>Nimi</label>
          <input type="text" name="name" placeholder="Etunimi" /><br/>
          <label>Ikä</label>
          <input type="number" name="age" placeholder="6" /><br/>
          <label>Sukupuoli
            <label>
              <input type="radio" name="gender" id="gender1" value="f" >
              Tyttö
            </label><br/>
            <label>
              <input type="radio" name="gender" id="gender2" value="m">
              Poika
            </label>
          </label><br/>
          <label>
            Epäillään tai on todettu ADHD
            <label>
              <input type="radio" name="adhd" id="adhd" value="true" >
              kyllä
            </label>
            <label>
              <input type="radio" name="adhd" id="adhd" value="false" >
              ei
            </label>
          </label><br/>
          <label>
            Epäillään tai on todettu asperger (tai sen piirteitä)
            <label>
              <input type="radio" name="adhd" id="adhd" value="true" >
              kyllä
            </label>
            <label>
              <input type="radio" name="adhd" id="adhd" value="false" >
              ei
            </label>
          </label><br/>
          <label>
            Epäillään tai on todettu kehitysviivettä
            <label>
              <input type="radio" name="delayed_development" value="true" >
              kyllä
            </label>
            <label>
              <input type="radio" name="delayed_development" value="false" >
	      ei
            </label><br/>
          </label>
          <label>
            Epäillään tai on todettu lukivaikeus (dysleksia)
            <label>
              <input type="radio" name="dyslexia" value="true" >
              kyllä
            </label>
            <label>
              <input type="radio" name="dyslexia" value="false" >
	      ei
            </label><br/>
          </label>
          <label>
            Epäillään tai on todettu kapea työmuisti
            <label>
              <input type="radio" name="narrow_wm" value="true" >
              kyllä
            </label>
            <label>
              <input type="radio" name="narrow_wm" value="false" >
	      ei
            </label><br/>
          </label>
          <label>
            Epäillään tai on todettu keskittymisvaikeutta
            <label>
              <input type="radio" name="concentration_difficulties" value="true" >
              kyllä
            </label>
            <label>
              <input type="radio" name="concentration_difficulties" value="false" >
	      ei
            </label><br/>
          </label>
          <label>Sähköposti</label>
          <input type="email" name="email" /><br/>

          <div id="infoText">
            Antamianne tietoja käytetään
            ainoastaan <a href="tutkimussuunnitelma.pdf">tutkimustarkoitukseen</a>
            henkilötietolain mukaisesti
            (<a id="rekisteriseloste">rekisteriseloste</a>).
            <div id="rekisteriseloste" style="display:none;">
              Henkilötietolaki sallii arkaluonteisten tietojen, kuten
              henkilön terveydentilaa, sairautta tai vammaisuutta
              koskevien tietojen keräämisen tutkimustarkoituksiin.
              Tässä tutkimuksessa näitä tietoja hyödynnetään
              mahdollisesti tulosten ryhmittelyssä. Tietojen
              luovuttaminen tutkimuskäyttöön on vapaaehtoista.

              Sivustolla käytetään evästeitä, joilla mahdollistetaan
              pelin pelaaminen ilman kirjautumista sekä ylläpidetään
              pelaajan tasoa.

              Tietoja edelleenluovutetaan ainoastaan tieteellisiin
              tutkimuksiin, kuten tutkimustulosten tarkistamista
              varten tai toisen tutkimuksen osaksi.

              Tiedot on varastoitu koneelle, johon pääsy on rajoitettu
              muutamaan henkilöön ja kirjautuminen varmennetaan
              vahvalla salauksella. Mahdolliset yhteydenotot
              matti.katila gmail.com, +358400637289.
            </div>
          </div>
          <input type="submit" name="submit" hidden="true" /><br/>
          <a id="join" class="gameBtn btn-2" href="#">
            <div class="middle">Liity!</div>
          </a>
	  <!--
            <button type="submit" class="btn">Liity pelaajaksi</button>
          -->
      </div>

      <div id="mainView">
        <div id="buttonTemplate" style="display:none" >
          <a class="gameBtn btn-2 player" href="pelaa">
            <div class="middle">
              <img src="${base_url}/img/player.png" alt="player"><br/>
              <span id="name"/>
            </div>
          </a>
        </div>
        <div id="majorRow">
          <div class="center">
            <a class="gameBtn btn-2" href="#liity">
              <div class="middle">Liity pelaajaksi</div>
            </a>
          </div>
        </div>

        <div id="minorRow">
          <div class="center">
            <form action="${base_url}/select_guest" method="POST"
                class="" style="display: inline-block;">
              <button type="submit" id="try" class="gameBtn btn-3">
                <div class="middle">Kokeile peliä</div>
              </button>
            </form>
          </div>
        </div>

      </div>
      <a href="${base_url}/humans.txt">
        <img id="humans" src="${base_url}/img/humanstxt-transparent-color.png" />
      </a>
    </div>

  </body>
</html>
