<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="context" content="${current_url}" />
    <meta metal:use-macro="base_template.macros['viewport']" />

    <title>Liity pelaamaan</title>

    <link rel="stylesheet" href="${base_url}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="${base_url}/static/style.css" />
    <link rel="shortcut icon" href="${base_url}/favicon.ico">
  </head>
  <body>
    <div class="container">

    <form action="${current_url}" method="post">
      <legend>Uusi pelaaja</legend>

      <label>Nimi</label>
      <input type="text" name="name" placeholder="Etunimi" />

      <br/>

      <button type="submit" class="btn">Liity pelaajaksi</button>
    </form>

    </div>
    <script src="${base_url}/static/lib/jquery.min.js"></script>
    <script src="${base_url}/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
