<div class="modal hide" data-backdrop="static">
  <div class="modal-header">
    <h3>Ei onnistunut...</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <img id="dlg-saxopupu" src="${base_url}/img/saxopupu001.png" />
    <a href="${base_url}/${game}" class="btn btn-large btn-primary"
               style="font-size: 800%; opacity:0;
                      line-height: 1;" disabled="disabled">Kokeile uudelleen</a>
  </div>
  <!-- <div class="modal-footer" style="text-align: left;"> -->
  <!--   <a href="" class="btn btn-large btn-primary">Kokeile uudelleen</a> -->
  <!-- </div> -->
</div>
