body {
  font-size: 0.625em;
  overflow: hidden;
}

body .modal {
  font-size: 1.4em;
}

#game {
  display: block;
  bottom: 2em;
  overflow: hidden;
  background: white;
  border: 1px solid black;
}

#board, #tower {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  overflow: visible;
}

#dialer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 6em:
  overflow: visible;
}

#bg-floor, #fg-floor, #dialer-floor {
  border: none;
  background: none;
  border-radius: 0;
}

.number {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  line-height: 1em;
}

#board .number {
  font-size: 10em;
}

#dialer .number {
}

#tower .box2d.placeholder {
  background-color: white;
  border: 0.1em dashed lightgrey;
}

#tower .box2d.placeholder .number {
  display: none;
}

#dialer .box2d .number {
  font-size: 6em;
  cursor: pointer;
}

.box2d.rectangle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 0.5em solid black;
  /* border-radius: 1em; */
}

.box2d.circle {
  box-sizing: border-box;
  border: 0.1em solid black;
}

/*
.box2d.rectangle {
  border-width: 1em;
}*/

.rectangle.color-1 {
  color: #800000;
  border-color: #800000;
  background-color: #ff0000;
}
.rectangle.color-2 {
  color: #a57500;
  border-color: #a57500;
  background-color: #ffb500;
}
.rectangle.color-3 {
  color: #808000;
  border-color: #808000;
  background-color: #ffff00;
}
.rectangle.color-4 {
  color: #ae926a;
  border-color: #ae926a;
  background-color: #ffd69c;
}
.rectangle.color-5 {
  color: #008000;
  border-color: #008000;
  background-color: #00ff00;
}
.rectangle.color-6 {
  color: #008080;
  border-color: #008080;
  background-color: #00ffff;
}
.rectangle.color-7 {
  color: #000080;
  border-color: #000080;
  background-color: #0000ff;
}
.rectangle.color-8 {
  color: #b27e8d;
  border-color: #b27e8d;
  background-color: #feb4c9;
}
.rectangle.color-9 {
  color: #000000;
  border-color: #000000;
  background-color: #808080;
}
/* */
.box2d.rectangle.white {
  background-color: white;
  border-color: black;
}


/* .color-0 { */
/*   background: olive; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-1 { */
/*   background: olive; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-2 { */
/*   background: green; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-3 { */
/*   background: green; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-4 { */
/*   background: teal; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-5 { */
/*   background: teal; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-6 { */
/*   background: navy; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-7 { */
/*   background: navy; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-8 { */
/*   background: maroon; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */
/* .color-9 { */
/*   background: maroon; */
/*   text-shadow: 1px 1px black; */
/*   color: white; */
/* } */
/*  */


/* animation */
#animation {
background-color: gray;
}
#b1,#b2, #b3,#b4,#pupu,#harakka {
    position: absolute;
    left:82px;
}
#b1 {
    top: 400px;
    width: 400px;
}
#b2 {
    top: 273px;
    width: 400px;
}
#b3 {
    left: 30px;
    top: 157px;
    width: 419px;
}
#b4 {
    left: 34px;
    top: 128px;
    width: 311px;
}
#pupu {
    left: 214px;
    top: 344px;
    width: 447px;
}
#harakka {
    left: -7px;
    top: 12px;
    width: 371px;
}

#animation {
    overflow: hidden;

    background: #f0f9ff;
    background: -moz-linear-gradient(top, #f0f9ff 0%, #ceecff 47%, #b7e4ff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#ceecff), color-stop(100%,#b7e4ff));
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#ceecff 47%,#b7e4ff 100%);
    background: -o-linear-gradient(top, #f0f9ff 0%,#ceecff 47%,#b7e4ff 100%);
    background: -ms-linear-gradient(top, #f0f9ff 0%,#ceecff 47%,#b7e4ff 100%);
    background: linear-gradient(to bottom, #f0f9ff 0%,#ceecff 47%,#b7e4ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#b7e4ff',GradientType=0 );
}