#car0 {
  position: absolute;
  top: 345px;
  left: 213px;
}
#car1 {
  position: absolute;
  top: 203px;
  left: 211px;
}
#car2 {
  position: absolute;
  top: 330px;
  left: 408px;
}
#car3 {
  position: absolute;
  top: 132px;
  left: 399px;
}
#car4 {
  position: absolute;
  top: 286px;
  left: 588px;
}
#car5 {
  position: absolute;
  top: 102px;
  left: 572px;
}
