#animation, #game {
  display: none; /* after animation bring up the next one */
  position: absolute;
  top: 0; left: 50%; margin-left: -384px;
  width: 768px;
  min-height: 768px;
}

#level {
  position: absolute;
  top: 5px; left: 5px;
}

.modal-backdrop.curtain {
  opacity: 0.5;
  background-color: transparent;
  border: solid 1em black;
}

.modal {
    width: 600px;
}
.modal-body {
    height: 496px;
    max-height: 496px;
    overflow: hidden;
}
#dlg-saxopupu {
    left: -137px;
    position: absolute;
    z-index: -1;
}
#dlg-djembeharakka {
    width: 577px;
    top: 27px;
    left: 150px;
    position: absolute;
    z-index: -1;
}