#game {
background: #0fb4e7;
background: -moz-linear-gradient(top, #0fb4e7 0%,#a9e4f7 25%,#ffffff 35%,rgba(253,255,249,1) 55%, rgba(174,211,148,1) 80%, rgba(135,214,44,1) 100%);
background: -webkit-linear-gradient(top, #0fb4e7 0%,#a9e4f7 25%,#ffffff 35%,rgba(253,255,249,1) 55%, rgba(174,211,148,1) 80%, rgba(135,214,44,1) 100%);
background: -o-linear-gradient(top, #0fb4e7 0%,#a9e4f7 25%,#ffffff 35%,rgba(253,255,249,1) 55%, rgba(174,211,148,1) 80%, rgba(135,214,44,1) 100%);
background: -ms-linear-gradient(top, #0fb4e7 0%,#a9e4f7 25%,#ffffff 35%,rgba(253,255,249,1) 55%, rgba(174,211,148,1) 80%, rgba(135,214,44,1) 100%);
background: linear-gradient(to bottom, #0fb4e7 0%,#a9e4f7 25%,#ffffff 35%,rgba(253,255,249,1) 55%, rgba(174,211,148,1) 80%, rgba(135,214,44,1) 100%);
}


h1 {
  text-align: center;
}
h1 div {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 40px;
  font-family: Knewave, cursive;
  font-family: 'Finger Paint', cursive;
  font-family: 'Sofadi One', cursive;
  font-family: 'Concert One', cursive;

  width: 50px;
  height: 50px;
  margin-left: 2px;
  padding-bottom: 4px;

  -webkit-border-radius: 15px;
  -moz-border-radius:    15px;
  border-radius: 15px;
}

.color-0 {
  background-color: #ff4b33;
}
.color-1 {
  background-color: #728EF9;
}
.color-2 {
  background-color: #3DA4A3;
}
.color-3 {
  background-color: #65A62B;
}
.color-4 {
  background-color: #CF8524;
}

.btn-0 {
  border-color: #FFD3C2;
  background-color: #F5E1DD;
}
.btn-1 {
  border-color: #BCC9F6;
  background-color: #E2E5F0;
}
.btn-2 {
  border-color: #75DBD6;
  background-color: #CBECE9;
}
.btn-3 {
  border-color: #9CDD5E;
  background-color: #DBEBCB;
}
.btn-4 {
  border-color: #FFDC9F;
  background-color: #F6E2CE;
}

.gameBtn, a.gameBtn {
  height: 170px;
  width: 170px;
  display: inline-block;

  text-align: center;

  font-size: 30px;
  font-family: 'Belgrano', serif;
  font-family: 'Concert One', cursive;
  color: #1276ad;

  margin: 0px 15px 15px 0px;

  /*border-color: rgba(0, 0, 0, 0.15) rgba;*/
  border-style: solid;
  border-width: 5px;


  background-color: #fcfcfc;
  background: -moz-linear-gradient(-45deg, #fcfcfc 0%, #e3e4ea 34%, #c9ccd8 49%, #dddfe3 68%, #fcfcfc 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#fcfcfc), color-stop(34%,#e3e4ea), color-stop(49%,#c9ccd8), color-stop(68%,#dddfe3), color-stop(100%,#fcfcfc));
  background: -webkit-linear-gradient(-45deg, #fcfcfc 0%,#e3e4ea 34%,#c9ccd8 49%,#dddfe3 68%,#fcfcfc 100%);
  background: -o-linear-gradient(-45deg, #fcfcfc 0%,#e3e4ea 34%,#c9ccd8 49%,#dddfe3 68%,#fcfcfc 100%);
  background: -ms-linear-gradient(-45deg, #fcfcfc 0%,#e3e4ea 34%,#c9ccd8 49%,#dddfe3 68%,#fcfcfc 100%);
  background: linear-gradient(135deg, #fcfcfc 0%,#e3e4ea 34%,#c9ccd8 49%,#dddfe3 68%,#fcfcfc 100%);


  border: 5px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  border-right-color: #a2a2a2;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  -webkit-box-shadow: 2px 3px 8px 4px #7d7906;
     -moz-box-shadow: 2px 3px 8px 4px #7d7906;
          box-shadow: 2px 3px 8px 4px #7d7906;


  -webkit-border-radius: 35px;
  -moz-border-radius:    35px;
  border-radius: 35px;
}
.gameBtn:hover, a.gameBtn:hover {
  background-color: #c9ccd8;
  background: -moz-linear-gradient(-45deg, #c9ccd8 0%, #e3e4ea 34%, #fcfcfc 49%, #dddfe3 68%, #c9ccd8 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#c9ccd8), color-stop(34%,#e3e4ea), color-stop(49%,#fcfcfc), color-stop(68%,#dddfe3), color-stop(100%,#c9ccd8));
  background: -webkit-linear-gradient(-45deg, #c9ccd8 0%,#e3e4ea 34%,#fcfcfc 49%,#dddfe3 68%,#c9ccd8 100%);
  background: -o-linear-gradient(-45deg, #c9ccd8 0%,#e3e4ea 34%,#fcfcfc 49%,#dddfe3 68%,#c9ccd8 100%);
  background: -ms-linear-gradient(-45deg, #c9ccd8 0%,#e3e4ea 34%,#fcfcfc 49%,#dddfe3 68%,#c9ccd8 100%);
  background: linear-gradient(135deg, #c9ccd8 0%,#e3e4ea 34%,#fcfcfc 49%,#dddfe3 68%,#c9ccd8 100%);

  border-top-color: #a2a2a2;
  border-left-color: #a2a2a2;

  text-decoration: none;
}
#rootHeader {
  height: 200px;
  padding-top: 100px;
}

#minorRow{
  height: 200px;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  width: inherit;
}
.center {
  display: block;
  text-align: center;
}
#addthis {
  margin: 5px;
  width: 100px;
  float: left;
}
#humans {
  float: right;
}
